################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Dang-Tan.github.io/FileContentIndex/505188b1-c199-457e-ba18-28c6f84c0074.vsidx
