:root{
    background-color: white;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin:0%;
}



.navbarup {
    background-color: lightskyblue;
    width: 100%;
}

.inhalte{
    text-align:center;
    font-size:1vw;
}