:root{
    background-color: white;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    margin:0;
}

img{
    width:100%;
    height:35vw;
    object-fit:cover;
}

.navbarup {
    background-color: lightskyblue;
    width: 100%;
    height: 4vw;
    font-size: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.bilder{
    border-radius:50%;
    width:8vw;
    height:8vw;
}


.downbar {
    background-color: lightskyblue;
    width: 100%;
    height: 10vw;
    font-size: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4vw;
}

.inhalte {
    text-align: center;
    font-size: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

a {
    margin-left: 3vw;
    margin-right: 3vw;
}

@media screen and (max-width: 700px) {
    .inhalte, .downbar, .navbarup, img, .bilder {
        font-size: 2.5vw;
    }
    .downbar {
        height: 25vw;
    }
    .navbarup {
        height: 10vw;
    }
    img{
        height:45vw
    }
    .bilder {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 550px) {
    .inhalte, .downbar, .navbarup, img, .bilder {
        font-size: 3.5vw;
    }
    .downbar{
        height:30vw;
    }
    .navbarup {
        height: 15vw;
    }
    img {
        height: 55vw
    }

    .bilder {
        width: 12vw;
        height: 12vw;
    }

}

.tablegame {
    margin-left: auto;
    margin-right: auto;
    border-spacing:3vw;
}

